{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{% block content %}
  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-9">
      {% if site_logo %}
        <a class="logo navbar-btn pull-left" href="http://www.iitb.ac.in/" title="{{ 'IIT Bombay Home'|t }}" rel="home">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="img-responsive" /> 
        </a>
      {% endif %}

      {% if site_slogan %}
        <a class="slogan navbar-btn pull-left navbar-text" href="http://www.iitb.ac.in/" title="{{ 'IIT Bombay Home'|t }}" rel="home">
          {{ site_slogan }}
        </a>
      {% endif %}

      {% if site_name %}
        <a class="navbar-brand" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
      {% endif %}
    </div>

    <div class="col-md-4 col-sm-4 col-xs-3">
      <a class="logo2 navbar-btn pull-right" href="http://www.iitb.ac.in/" title="{{ 'IIT Bombay Home'|t }}" rel="home">
        <img class="sec-logo" src= "{{ logo2 }}" alt="{{ 'Home'|t }}" />
      </a>
    </div>
  </div>
{% endblock %}
