{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

{# 
{% for field in fields -%}
  {{ field.separator }}
  {%- if field.wrapper_element -%}
    <{{ field.wrapper_element }}{{ field.wrapper_attributes }}>
  {%- endif %}
  {%- if field.label -%}
    {%- if field.label_element -%}
      <{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>
    {%- else -%}
      {{ field.label }}{{ field.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if field.element_type -%}
    <{{ field.element_type }}{{ field.element_attributes }}>{{ field.content }}</{{ field.element_type }}>
  {%- else -%}
    {{ field.content }}
  {%- endif %}
  {%- if field.wrapper_element -%}
    </{{ field.wrapper_element }}>
  {%- endif %}
{%- endfor %}
 #}

 {{ attach_library('iitb_dj/dept-staff') }}
 {% set id = fields.nid.content|render|striptags|trim %}
 {% set head_flag = fields.field_chem_staff_head.content|render|striptags|trim %}
 
  {% if head_flag == 1 %}
    <div class="staff-head">
  {% endif %}

      {% if fields.body.content %}
      <a href="#" title="Works Involved in" id="popover_{{ id }}" data-toggle="popover" data-trigger="hover" data-placement="bottom">
      {% endif %}
      <div class="img-box">
        {{ fields.field_staff_photo.content }}
      </div>
      
      {% if fields.body.content %}
        </a>
      {% endif %}
       <div class="staff-pd">
      <h1>{{ fields.title.content }}</h1>
      <h2>{{ fields.field_staff_designation.content }}</h2>
        <p>{% if fields.field_phone_no.content %}<i class="fa fa-phone"></i>&nbsp;{% endif %}
          {{ fields.field_phone_no.content }}</p>
        <p>{% if fields.field_email.content %}<i class="fa fa-envelope"></i>&nbsp;{% endif %}{{ fields.field_email.content }}</p>
        <p>{{ fields.field_chem_staff_category.content }}</p>
       </div>
    {% if head_flag == 1 %}
        </div>
    {% endif %}
 
<div id="popover_content_wrapper_{{ id }}" style="display: none">
  <div>{{ fields.body.content }}</div>
</div>


{% for field in fields|without('field_staff_photo', 'title', 'field_staff_designation', 'field_phone_no', 'field_email', 'field_chem_staff_category', 'nid', 'body', 'field_chem_staff_head') %}
    {{ field.separator }}
  {%- if field.wrapper_element -%}
    <{{ field.wrapper_element }}{{ field.wrapper_attributes }}>
  {%- endif %}
  {%- if field.label -%}
    {%- if field.label_element -%}
      <{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>
    {%- else -%}
      {{ field.label }}{{ field.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if field.element_type -%}
    <{{ field.element_type }}{{ field.element_attributes }}>{{ field.content }}</{{ field.element_type }}>
  {%- else -%}
    {{ field.content }}
  {%- endif %}
  {%- if field.wrapper_element -%}
    </{{ field.wrapper_element }}>
  {%- endif %}
{% endfor %}


{# field_ircc_staff_image
title
field_ircc_staff_designation
field_ircc_staff_contact_no
field_ircc_staff_email
body
#}
