{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
  {% if content.field_work|field_value is not empty %}
 */

#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

   <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center fw-bold mb-20">
      {{ ds_content.field_slider_image }}
      {{ ds_content.field_slider_subtitle }}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="row mb-20">
          <div class="col-sm-12">
            {{ ds_content.body }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
             {{ ds_content.field_faculty_name_ref_slider }}
          </div>
        </div>
    </div>
  </div>

</{{ ds_content_wrapper }}>
