{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix','container') }}>

  {{ title_suffix.contextual_links }}


  <div class="row">
    <div class="col-xs-12 col-md-9 col-lg-9 text-align-justify">

      {{ ds_content|without('title', 'field_category_glimpse', 'field_faculty_name_ref') }}

    </div>
    <div class="col-xs-12 col-md-3 col-lg-3">
        <div class="row">
          <div class="col-sm-12">
            {{ ds_content.field_category_glimpse }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
             {{ ds_content.field_faculty_name_ref }}
          </div>
        </div>
    </div>
  </div>

  {# <div class="row">
    <div class="col-xs-12 col-md-9 col-lg-9 wow fadeInLeft delay-03s">

    </div>
  </div> #}

</{{ ds_content_wrapper }}>
