{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}


	<header class="sabbi-page-header page-header-lg news-page-header" {% if news_header_style %} style = "{{ news_header_style }}" {% endif %}>
        <div class="page-header-content">
            <div class="header-title-block">
                <h2 class="page-title">{{ title }}</h2>
            </div>
        </div>
    </header>

  <section class="sabbi-section stage_events_post stage_events_post-single">
    	<div class="container">
        	<div class="events_post_single-sagment">
            	<div class="row">
                	<div class="col-sm-8 col-sm-offset-2">
                    	<article class="sabbi-events-item">
                        
                        <div class="events-item-meta">

                         {#    
                            <div class="events-date">
                            	<span class="text"> {{ ds_content.field_news_date }}</span>
                            </div>
                            <div class="events-loc">
                                <span class="text">{{ ds_content.field_event_venue }}</span>
                            </div>]
                         #}
                           {#  
                                {{ ds_content.field_news_images }}
                                {{ ds_content.field_news_type }}
                                {{ ds_content.field_news_date }}
                                {{ ds_content.body }} 
                            #}

                            {{ ds_content|without('title') }}
                        </div>
                      </article><!-- /.sabbi-events-item -->
                </div>
            </div>
        </div><!-- /.events_post_single-sagment -->
    </div>
</section>
</{{ ds_content_wrapper }}>
